@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
.eventCard {

    padding: 15px;
    margin: 40px;
    border: 1px solid #d3d3d3;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: white;
    flex-direction: column;
    width: 20%;
    color: white;
    background-color: rgba(255, 255, 255, 0.171);
    float: left;
    font-family: 'PT Serif', serif;
}

.headerButton {

    display: inline;
    padding: 10px;
    border-radius: 20px;
    margin: 15px;
}
