
.problemCard {

    padding: 20px;
    margin: 40px;
    border: 1px solid #d3d3d3;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: white;
    flex-direction: column;
    width: 90%;
    color: white;
    background-color: rgba(255, 255, 255, 0.171);
    float: left;
    font-family: cursive;
}

.problemCard h1,h2,h3,h4 {
    padding: 6px 0;
}

.problemCard p {
    padding: 6px 50px;
}
.headerButton {

    display: inline;
    padding: 10px;
    border-radius: 20px;
    margin: 15px;
}
