@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {

    background-color: rgba(0, 0, 0, 0.856);
    color: white;
}

.card {

    padding: 15px;
    margin: 40px;
    border: 1px solid #d3d3d3;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: white;
    flex-direction: column;
    width: 20%;
    color: white;
    background-color: rgba(255, 255, 255, 0.171);
    float: left;
    font-family: 'PT Serif', serif;
}

.card h1,h2,h3,h4 {
    padding: 3px 0;
}

.profileImage {

    border-radius: 50%;
    height: 90px;
    width: 90px;
    border-color: black;
    border-width: 3px;
}